@using EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>

<br />

@using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" asp-for="CategoryID" />
        
        @Html.Label("Kategori Adı: ")
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", placeholder = "Kategori Adı"})
        @Html.ValidationMessageFor(model => model.CategoryName)
        <br />
        <br /> 

        @Html.Label("Açıklama: ")
        @Html.TextBoxFor(model => model.CategoryDescription, new { @class = "form-control", placeholder = "Açıklama" })
        @Html.ValidationMessageFor(model => model.CategoryDescription)
        <br />
        <br />

        <button class="btn btn-primary">Kaydet</button>
    </div>
}